@include apply-map($headline-sizes);


.headline {

    &.__website {
        display: flex;
        height: 56px;
        flex-direction: row-reverse;
        margin-right: -10px;
        margin-top: -20px;
        margin-bottom: -56px;
    }

    &.__content {
        margin-bottom: 0px;
        margin-top: 20px;
    }

    &.listHeadline {
        margin-bottom: 0px;
        margin-left: 0;
    }

}