.link {
    text-decoration: underline;
    text-decoration-color: get-color(secondary);
    color: get-color(secondary);
    transition: .1s;
    font-size: 21px;
    line-height: 29px;
    margin: 6px;
    
    &:hover {
        text-decoration-color: get-color(secondary-light);
        color: get-color(secondary-light);
    }


}

.repoLink {
    margin-left: 40px;

    a {
        position: absolute;
        margin-top: -16px;
        vertical-align: text-top;
        line-height: 50px;
    }
}

a {
    text-decoration: inherit;
    color: inherit;
    margin-left: 8px;
    margin-top: -40px;
    line-height: 50px;

    &:hover {
        text-decoration: inherit;
        color: inherit;
    }
}

.inlineLink {
    color: rgb(27, 172, 39);
    text-decoration: underline;
    height: inherit;
    
    a {
        line-height: inherit;
    }
    &:hover {
        color: rgb(32, 201, 46);
    }
}