.list {
    padding: 12px 0 0 12px;
    font-size: 22px;

    li {
        line-height: 28px;
    }

    .customListPoint {
        padding-left: 220px;
        display: block;
        margin-bottom: 20px;
        border: 2px solid rgb(50, 160, 240);
        border-radius: 6px;
        background-color: rgba(6, 51, 65, 0.711);
        width: 720px;
        height: 214px;
    }

    .listpointImage {
        width: 30px;
        height: 30px;
        margin: -15px 8px 0 -35px;
        -webkit-animation: rotating 2s linear infinite;
    }
}

ul {
    li {
        list-style: none;
        display: inline;
    }
}

.preview {
    font-size: 20px;
    * {
        font-size: 17px;
        line-height: 19px;
    }
}    

.listHeadline.last {
    margin-bottom: 10px;
}