.mainnav {
    background: get-color(primary-dark);
}

.--selectable {
    margin-top: 0.5px;
    margin-left: 0.5px;
}


.mainnav__inner {
    text-align: center;
    vertical-align: middle;
    
    .--caption {
        font-weight: bolder;
        transition: 0.18s;

        &:hover {
            color: rgb(0, 162, 255);
            background: rgb(18, 108, 168);
        }
    }

    .--selectable {
        background: rgb(18, 108, 168);
        box-shadow: inset 0 0 10px 1px rgb(1, 141, 206), 1px 0px 3px 1px rgba(32, 32, 32, 0.651);
        font-size: 17px;
        transition: 0.18s;

        &:hover {
            color: rgb(30, 192, 255);
            background: rgb(48, 138, 198);
        }
    }
}