.menu {
    cursor: default;
}

.menu.horizontal {
    display: flex;
    flex-direction: row;
    line-height: 40px;
    height: 40.5px;
    font-size: 20px;
}

.menu.horizontal > * {

    &:first-of-type {
        margin-left: 16px;
    }
}

.menu.vertical {
    display: flex;
    flex-direction: column;
}

.--caption, .--selectable {
    padding: 0 20px;
    cursor: pointer;
}