.menu {
    cursor: default;
    transition: 0.2s;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

}

.menu.horizontal {
    display: flex;
    flex-direction: row;
    line-height: 44px;
    height: 40.5px;
    font-size: 20px;
}

.menu.horizontal > * {

    &:first-of-type {
        margin-left: 16px;
    }
}

.menu.vertical {
    display: flex;
    flex-direction: column;
}

.--caption, .--selectable {
    padding: 0 20px;
    cursor: pointer;
}

.menu a {
    line-height: inherit;
    padding: inherit;
    display: inline-block;
    width: 200px;
    height: 40px;
}