.previewImage {
    margin-top: -1.25px;
    margin-left: -1px;
    width: 212px;
    height: 213px;
    left: 53px;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border:1px solid #32a0f0;
    position: absolute;
}